  <div class="group">
    <%= f.label :parent_names, t("activerecord.attributes.family.parent_names", :default => "Parent names"), :class => :label %>
    <%= f.text_field :parent_names, :class => 'text_field' %>
    <span class="description">Use both names</span>
  </div>

  <div class="group">
    <%= f.label :photo, t("activerecord.attributes.family.photo", :default => "Photo"), :class => :label %>
		<%= f.file_field :photo %><br />
    <span class="description">Attach and upload the photo here</span>
  </div>

  <div class="group">
    <%= f.label :active, t("activerecord.attributes.family.active", :default => "Active"), :class => :label %>
    <%= f.check_box :active, :class => 'check_box' %>
    <span class="description">Uncheck if family is no longer in the program</span>
  </div>

  <div class="group">
    <%= f.label :sponsored, t("activerecord.attributes.family.sponsored", :default => "Sponsored"), :class => :label %>
    <%= f.check_box :sponsored, :class => 'check_box' %>
    <span class="description">Will be checked once the family has a sponsor<span>
  </div>

  <div class="group">
    <%= f.label :monthly_need, t("activerecord.attributes.family.monthly_need", :default => "Monthly need"), :class => :label %>
    <%= f.text_field :monthly_need, :class => 'text_field' %>
    <span class="description">The amount of money required to support this family for one month</span>
  </div>

  <div class="group">
    <%= f.label :year_joined, t("activerecord.attributes.family.year_joined", :default => "Year joined"), :class => :label %>
    <%= f.datetime_select :year_joined, :class => 'datetime_select' %>
    <span class="description">When the family/children first joined the program</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", families_path, :class => "button" %> 
</div>
