<p>
  <b>Firstname:</b>
  <%=h @sponsor.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @sponsor.lastname %>
</p>

<p>
  <b>Street address1:</b>
  <%=h @sponsor.street_address1 %>
</p>

<p>
  <b>Street address2:</b>
  <%=h @sponsor.street_address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @sponsor.city %>
</p>

<p>
  <b>State:</b>
  <%=h @sponsor.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @sponsor.zipcode %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @sponsor.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @sponsor.phone2 %>
</p>

<p>
  <b>Email1:</b>
  <%=h @sponsor.email1 %>
</p>

<p>
  <b>Email2:</b>
  <%=h @sponsor.email2 %>
</p>

<p>
  <b>Active:</b>
  <%=h @sponsor.active %>
</p>

<p>
  <b>New:</b>
  <%=h @sponsor.new %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>